apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-uploads-pvc
  namespace: qhitz-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cloud-storage-pvc
  namespace: qhitz-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dental-scanned-docs-pvc
  namespace: qhitz-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
