services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: qhitz-frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_AUTH_API_URL=http://192.168.2.98:5010/api
      - REACT_APP_MEDIA_API_URL=http://192.168.2.98:5011/api
      - REACT_APP_CLOUD_API_URL=http://192.168.2.98:5012/api
      - REACT_APP_DENTAL_API_URL=http://192.168.2.98:5013/api
    restart: unless-stopped
